{% if user.id == currentUser.id or currentUser.admin %}

   <div class="meta follow-user-pane">
      <h2>Strava</h2>
      {% set stravaSyncUser = craft.stravaSync.connected(user.id) %}
      {% if stravaSyncUser %}
         <div class="data first">
            <div class="heading">ID</div>
            <div class="value">
               <a href="https://strava.com/athletes/{{ stravaSyncUser.athleteId }}" target="_blank">#{{ stravaSyncUser.athleteId }}</a>
            </div>
         </div>
         <div class="data">
            <div class="heading">Token Expiry</div>
            <div class="value">{{ stravaSyncUser.expires|datetime('short') }}</div>
         </div>
         <div class="data">
            <div class="heading">
               {% if user.id == currentUser.id %}
                  <a href="{{ craft.stravaSync.disconnectUrl() }}" class="btn small delete" title="Disconnect from Strava">Disconnect from Strava</a>
               {% elseif currentUser.admin %}
                  <a href="{{ craft.stravaSync.disconnectUrl() }}" class="btn small delete" title="Disconnect from Strava">Disconnect from Strava</a>
               {% else %}
                  <div class="btn small disabled">Disconnect from Strava</div>
               {% endif %}
            </div>
         </div>
      {% else %}
         <div class="data">
            {% if user.id == currentUser.id %}
               <a href="{{ craft.stravaSync.connectUrl() }}" class="btn small submit">Connect to Strava</a>
            {% else %}
               <div class="btn small submit disabled">Connect to Strava</div>
            {% endif %}
         </div>
      {% endif %}
   </div>

{% endif %}
